@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-hero {
    font-size: 144px;
  }
  .text-mobile-hero {
    font-size: 96px;
  }
}

html {
  scroll-behavior: smooth;
}

nostrum-name-search::part(input) {
  font-size: 1.5rem;
  height: 3rem;
  /*border-bottom-right-radius: unset ;*/
  /*border-top-right-radius: unset ;*/
}

nostrum-name-search::part(error) {
}
