@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-hero {
        font-size: 144px;
    }
    .text-mobile-hero {
        font-size: 96px;
    }
}

html {
    scroll-behavior: smooth;
}
