/* styling options for nostrum-name-search component */

nostrum-name-search::part(input) {
  font-size: 1.25rem;
  height: 3rem;
  border: #9ca3af 2px solid;
}

nostrum-name-search::part(error) {
  color: indianred;
}

nostrum-name-search::part(tld) {
  color: #9ca3af;
}
