@import "./nostrum-name-search.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.json-mark {
  color: hsl(var(--nc) / var(--tw-text-opacity));
}

.watermark {
  position: fixed;
  opacity: 0.02;
  background-image: url("../signum-logo.svg");
  top: -128px;
  left: -128px;
  width: 800px;
  height: 800px;
  fill: #9ca3af;
}
